<div class="flex justify-center mt-24">
  <div id='chart-rates' class="max-w-screen-2xl" data-controller="rates-chart" data-rates-chart-data-value=<%= @chart_data %> data-info="<%= @chart_data %>"></div>
</div>

